.mynav{
    background-color: #F59C48;
}
@media all and (max-width: 992px){
    #asidecolumn{display:none;}
        
}
.title{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}
.content{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.post{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); 
    padding: 10px;
}