.admin-login{
    width: 200px;
    text-align: center;
    margin: auto;
}
.mynav{
    background-color: #F59C48;
}
.title{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}
.content{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.post{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); 
    padding: 10px;
}